{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
      content="width=device-width, initial-scale=1.0">

<title>Dashboard | Calmify AI</title>

<link rel="stylesheet"
href="{% static 'css/style.css' %}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<!-- Header Here -->

<header>

<div class="logo-container">

<img src="{% static 'images/logo.png' %}">

<div class="logo-text">

Calmify AI

</div>

</div>

<nav>

<ul>

<li><a href="/">Home</a></li>

<li><a href="/dashboard/">Dashboard</a></li>

<li><a href="#analytics">Analytics</a></li>

<li><a href="#suggestions">Suggestions</a></li>

</ul>

</nav>

<div class="profile-dropdown">

    <button
        class="profile-btn"
        onclick="toggleMenu()">

        <i class="fa-solid fa-user"></i>

        {{ request.user.username }}

    </button>

    <div
        id="profileMenu"
        class="dropdown-content">

        <a href="/dashboard/">
            Dashboard
        </a>

        <a href="/logout/">
            Logout
        </a>

    </div>

</div>
</div>

</header>

<!-- Dashboard Content Here -->

<div class="dashboard-container">

<div class="welcome-card">

<h1>

Welcome Back,
{{ request.user.username }} 👋

</h1>

<p>

Track your wellness journey with Calmify AI.

</p>

</div>

<div class="section-card">

<h2>

📈 Weekly Wellness Summary

</h2>

<h3>

Average Mood Score:

{{ weekly_average }}/10

</h3>

</div>

<div class="stats-grid">

<div class="stat-card">

<h2>Wellness Score</h2>

<div class="score">

{{ wellness_score }}%

</div>

</div>

<div class="stat-card">

<h2>Emotion</h2>

<div class="emotion">

{{ latest_mood.emotion }}

</div>

</div>

<div class="stat-card">

<h2>Sleep Hours</h2>

<div class="sleep">

{{ latest_mood.sleep_hours }}

</div>

</div>

</div>

<!--ai suggest-->

<div class="suggestion-section"
id="suggestions">

<h2>

AI Suggestions

</h2>

<ul>

{% for suggestion in suggestions %}

<li>

{{ suggestion }}

</li>

{% endfor %}

</ul>

</div>

<!--music-->

<div class="music-section">

<h2>

Music Recommendations 🎵

</h2>

<ul>

{% for song in music %}

<li>

{{ song }}

</li>

{% endfor %}

</ul>

</div>

<!-- journal -->

<div class="journal-section">

<h2>

Recent Journal Entries

</h2>

{% for mood in recent_journals %}

<div class="journal-card">

{{ mood.journal_text }}

</div>

{% endfor %}

</div>

<!-- mood -->

<div class="analytics-section"
id="analytics">

<h2>

Mood Analytics

</h2>

<canvas id="moodChart">

</canvas>

</div>

<!-- sleep -->

<div class="analytics-section">

<h2>

Sleep Analytics

</h2>

<canvas id="sleepChart">

</canvas>

</div>

<!-- mood history-->

<div class="section-card">

<h2>

Mood History

</h2>

<table>

<tr>

<th>Date</th>
<th>Mood</th>
<th>Emotion</th>
<th>Sleep</th>

</tr>

{% for mood in user_history %}

<tr>

<td>

{{ mood.created_at|date:"d M Y" }}

</td>

<td>

{{ mood.mood_score }}

</td>

<td>

{{ mood.emotion }}

</td>

<td>

{{ mood.sleep_hours }}

</td>

</tr>

{% endfor %}

</table>

</div>

<!-- report -->

<div class="section-card">

<h2>

📄 Wellness Report

</h2>

<a href="{% url 'download_report' %}">

    <button>

        Download PDF Report

    </button>

</a>

</div>

<!-- Footer Here -->

<footer>

<p>

© 2026 Calmify AI

</p>

<p>

Developed by Mohit Bhargav

</p>

<div class="social-icons">

<a href="#">
<i class="fab fa-linkedin"></i>
</a>

<a href="#">
<i class="fab fa-github"></i>
</a>

<a href="#">
<i class="fab fa-instagram"></i>
</a>

<a href="#">
<i class="fab fa-twitter"></i>
</a>

</div>

</footer>

</div>

<!-- script -->

<script>

const dates = {{ dates|safe }};

const moodScores = {{ mood_scores|safe }};

const sleepData = {{ sleep_data|safe }};

new Chart(
document.getElementById('moodChart'),
{
type:'line',
data:{
labels:dates,
datasets:[{
label:'Mood Score',
data:moodScores
}]
}
}
);

new Chart(
document.getElementById('sleepChart'),
{
type:'bar',
data:{
labels:dates,
datasets:[{
label:'Sleep Hours',
data:sleepData
}]
}
}
);


/**************
 button
 *************/


function toggleMenu() {

    document
    .getElementById("profileMenu")
    .classList.toggle("show");
}

window.onclick = function(event) {

    if (!event.target.matches('.profile-btn')) {

        let dropdowns =
            document.getElementsByClassName(
                "dropdown-content"
            );

        for (let i = 0; i < dropdowns.length; i++) {

            dropdowns[i]
            .classList.remove("show");
        }
    }
}


</script>

</body>

</html>